<h1>Editeur de compte à rebours</h1>

<%= render "form", countdown: @countdown %>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Afficher", @countdown, class: "btn btn-primary mx-3" %>
  <%= link_to "Retour", countdowns_path, class: "btn btn-secondary" %>
</div>
