<p style="color: green"><%= notice %></p>

<h1>Compte à rebours</h1>

<div id="countdowns">
  <% @countdowns.each do |countdown| %>
    <%= render countdown %>
    <p>
      <div class = "d-flex justify-content-center">
        <%= link_to "Afficher ce compte à rebours", countdown, class: "btn btn-primary" %>
      </div>
    </p>
  <% end %>
</div>

<%= link_to "Nouveau compte à rebours", new_countdown_path, class: "btn btn-success" %>
